<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <configuration>
    <connectionStrings>
      <add name="MuseoEntities"
        providerName="System.Data.SqlClient" connectionString="Data Source=JHON\SQLEXPRESS; Initial Catalog=Museo;Integrated Security=True;Pooling=False" />
    </connectionStrings>
  </configuration>
  
</configuration>